<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Booking</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Title</th>
            <th>Member Name</th>
            <th>Bank Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for( let index = 0; index < booking.length; index++ ) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <%= booking[index].bookingStartDate.toLocalString().split(",")[0]
              %> s/d <%=
              booking[index].bookingEndDate.toLocalString().split(",")[0] %>
            </td>
            <td><%= booking[index].itemId.title %></td>
            <td>
              <%= booking[index].memberId.firstName %> <%=
              booking[index].memberId.lastName %>
            </td>
            <td><%= booking[index].bankId.bankName %></td>
            <td><%= booking[index].payments.status %></td>
            <td>
              <div class="row" style="padding-left: 6px">
                <button
                  data-toggle="modal"
                  data-target="#editModal"
                  id="btnEditModal"
                  type="button"
                  class="btn btn-warning btn-sm mr-1"
                  data-id="<%= booking[index]._id %>"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <form
                  action="/booking/destroy/<%= booking[index]._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
